body {
  margin: 0;
}

.wrap {
  display: flex;
  align-items: flex-start;
}

.nav,
.main {
  position: sticky;
  top: 0;
}

.nav {
  height: 600px;
  width: 300px;
  background: url("https://picsum.photos/300");
  will-change: top;
}

.main {
  height: 1500px;
  flex: 1;
  background: url("https://picsum.photos/500");
}

.footer {
  height: 800px;
  background: red;
}